---
// prettier-ignore
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
